<div class="footer container-fluid" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<div class="row text-white p-3 offset-sm-1">
<div class="col-sm-2"> 
<b>Trái Tim Nhân Ái</b><br>
Blog Cuộc Sống <br>
Sống Tôt <br>
Sống Khỏe <br>
Sống Thông Minh <br>
Sống Vui
</div>

<div class="col-sm-2"> 
<b>Heo Đất</b><br>
Hoàn Cảnh Quyên Góp<br>
Vì Trẻ Em<br>
Người Già, Người Khuyết Tật<br>
Bệnh Hiểm Nghèo<br>
</div>

<div class="col-sm-2"> 
<b>Đối Tác Đồng Hành</b><br>
Hoàn Cảnh Khó Khăn<br>
Hỗ Trợ Giáo Dục<br>
Đầu Tư Cơ Sở Vật Chất<br>
</div>

<div class="col-sm-2"> 
<b>Tin Tức Cộng Đồng</b><br>
Cứu Trợ Động Vật<br>
Bảo Vệ Môi Trường
</div>

<div class="col-sm-2"> 
<b>CHĂM SÓC KHÁCH HÀNG</b><br>
Địa chỉ: Tầng M, Tòa nhà Victory Tower, Số 12, Tân Trào,Phường Tân Phú, Quận 7, TP.Hồ Chí Minh<br>
Hotline: 1900 5454 41(1000/ phút)<br>
Email: hotro@nhanai.vn
</div>

</div>









</div>